@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Saira', sans-serif;
  margin: 0;
  padding: 0;
}

body {
min-height: 100vh;
background: #F5F1ED;
background: radial-gradient(at center, #f8f8fa, #e7e7e7);  overflow-x: hidden;
}
